torch==2.2.0
torchvision==0.17.0
torchaudio==2.2.0
soundfile
numpy==1.26.4
torch_audiomentations
tqdm
matplotlib
pandas
wandb
comet_ml
hydra-core
datasets=3.0.1
wget=3.2
editdistance=0.8.1

black
isort
pre-commit
